body {
    margin: 0;
    padding: 0;
}

.horari {
    margin: 40px auto;
    width: 100%;
    max-width: 1400px;
    min-width: 375;
}

.title {
    height: calc(100% - 6px);
}

.flex {
    display: flex;
    width: 100%;
}

.row {
    flex-direction: row;
    flex-wrap: nowrap;
}

.column {
    flex-direction: column;
}

.cell {
    border: 1px solid #000;
    margin: 2px;
    width: calc(100% - 6px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.multi-cell.cell {
    border: none;
    display: block;
}

.multi-cell.cell>div {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multi-cell.cell>div:nth-child(2) {
    margin-top: 2px;
}

.column-left {
    width: 20%;
}

.column-right {
    width: 80%;
    justify-content: space-between;
}

.header .cell {
    background-color: #7ed3f5;
}

.pati .cell {
    background-color: #89ff1b;
}

@media (max-width: 575px) {
    .cell{
        font-size: 10px;
    }
}